* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.app {
  max-width: 100%;
  width: 600px;
  margin: 0 auto;
}

.btn {
  background: unset;
  border: unset;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}

.btn:disabled {
  cursor: not-allowed;
}

.btn .icon {
  width: 40px;
  height: 40px;
  padding: 10px;
  margin-right: 5px;
  display: inline-block;
  border: solid 1px transparent;
  border-radius: 50%;
  overflow: overlay;
}

.posts {
  border: solid 1px #e2e2e2;
}

.single-post {
  width: 100%;
  padding: 20px 10px;
  display: flex;
  border-bottom: solid 1px #e2e2e2;
  transition: all 0.25s ease;
}

.single-post:not(.inner):hover {
  background-color: #f2f2f2;
  cursor: pointer;
}

.single-post__header {
  height: 40px;
  display: flex;
  gap: 10px;
  align-items: flex-start;
}

.single-post__header .dropdown-container {
  margin-left: auto;
}

.single-post__text {
  margin-top: 0;
  margin-bottom: 15px;
  line-height: 22px;
}

.single-post__poster {
  width: 100%;
  border-radius: 15px;
  overflow: hidden;
}

.single-post__footer {
  margin: 20px 0 10px 0;
  display: flex;
  align-items: center;
  gap: 20px;
}

.comments-block {
  list-style: none;
  margin: 15px 0;
  padding-left: 60px;
}

.comments-block li {
  position: relative;
  padding: 15px;
  transition: all 0.25s ease;
}

.comments-block li .avatar {
  position: absolute;
  width: 50px;
  height: 50px;
  top: 15px;
  left: -60px;
}

.comments-block li:hover {
  cursor: pointer;
  background-color: #f2f2f2;
}

.comments-block li p {
  margin-top: 10px;
}

.header {
  display: flex;
  align-items: center;
  gap: 20px;
  height: 60px;
}

.avatar {
  flex-shrink: 0;
  width: 60px;
  height: 60px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-right: 10px;
  border-radius: 50%;
  border: solid 1px #e3e3e3;
  text-transform: uppercase;
}

.poster {
  display: block;
}

.dropdown-container {
  position: relative;
}

.dropdown {
  width: 30px;
  height: 30px;
  border: solid 1px #e2e2e2;
  background-color: white;
  border-radius: 50%;
  position: relative;
  z-index: 10;
  transition: all 0.25s ease;
}

.dropdown:hover {
  background-color: #39a2f331;
  color: #39a2f3;
}

.dropdown-list {
  width: max-content;
  min-width: 250px;
  margin: 0;
  padding: 15px;
  position: absolute;
  top: 30px;
  right: 0;
  display: flex;
  flex-direction: column;
  list-style: none;
  background-color: white;
  border-radius: 5px;
}

.dropdown-list li {
  margin: 0 -15px;
  padding: 10px 15px;
  transition: all 0.25s ease;
}

.dropdown-list li:hover {
  background-color: #f2f2f2;
}

.dropdown-list button {
  font-size: 1rem;
}

.loading {
  width: 100%;
  margin: 4rem auto;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 50px;
  color: #39a2f3;
}

.spinner {
  opacity: 0.5;
  border: 8px solid #f3f3f3;
  border-radius: 50%;
  border-top: 8px solid #39a2f3;
  width: 50px;
  height: 50px;
  -webkit-animation: spin 1s linear infinite;
  animation: spin 1s linear infinite;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
